* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("https://wallpaperaccess.com/full/5652030.jpg ");
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e293b;
    padding: 20px;  
    color: white;
}

.links {
    display: flex;
    justify-content: center;
    gap: 80px;
    font-size: 40px;
}

.links1 {
    color: white;
    display: flex;
    justify-content: end;
    gap: 100px;
}

.parent{
    padding: 300px ;
    gap:30px;
    display: flex;
    justify-content: start;
    text-align: center;
    font-size: xx-large;
}
.child{
    color:black;
    
}
.parent3{
    padding: 250px;
    display: flex;
    justify-content:center;
    text-align: center;
    gap: 100px;
    color: white;
  }

.child4 h4 , h1{
    background-color: none;
    font-size: xx-large;
    color: rgb(236, 71, 12);
}
.child5 h4{
    color: rgba(230, 0, 0, 0.807);
    font-size: 50px;
}

.parent2{
    height: 200px ;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.child3{
    color: red;
    width: 650px;
    height: 670px;
}
.box{
   
    color: yellow   ;
    font-size:xx-large

}
.box2{
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(233, 54, 19);
}.box2 h1{
    color:white;
}
.box3{
    padding: 10px;
    color: white;
}
.box4{
color: white;
height: 50px;
width: 80px;


}
  .resume-button {
    padding: 10px 20px;
    border: 4px solid red;
    color: white;
    background-color: black;
    font-weight: bold;
    cursor: pointer;
  }
 .skilll{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: orange;
 }
 .skill1 h4 {
    color: rgb(193, 71, 43);
 }
 .box4{
    display: flex;
    justify-content: center;
    text-align: center;

 }
 .box{
    color: white;
 }

 .aboutme{
    padding: 300px ;
    gap:30px;
    display: flex;
    justify-content: start;
    text-align: center;
    font-size: xx-large;
}
.whoam{
    color:white;
    
}
.aboutme11{
    display: flex;
    justify-content:center;
    text-align: center;
    gap: 100px;
    color: white;
  }

.whoam1 h4{
    background-color: none;
    font-size: xx-large;
    color: rgb(236, 71, 12);
}
.child5 h4{
    color: rgba(230, 0, 0, 0.807);
    font-size: 50px;
}